<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <style type="text/css" >
      img
      {
        display: block;
        margin-left: auto;
        margin-right: auto;

      }
      h1
      {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
      }
      h4
      {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
      }
    </style>
  </head>
  <body>
    <h1>Loading</h1>
    <img id="bigpic" src="/static/loading.gif" width="150" height="150">
  </body>
</html>
